@import "/src/variables.scss";

.container {
  display: flex;
  gap: 15px;

  .main {
    background: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 35px;

    .row {
      display: flex;
    }
  }
}

.color-picker {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  position: absolute;
  top: 26px;
  right: 0;
  .picker {
    width: 40px;
    border-radius: 3px;
    height: 38px;
  }
}

.w-100 {
  width: 100%;
}

.container-section {
  box-shadow: 0px 3px 6px #00000029;
  padding: 15px;
}

nz-select {
  width: 280px;
}

.img-editAd {
  cursor: pointer;
}

.container-modal {
  .close-modal {
    i {
      font-size: 20px;
      color: #999999;
    }
  }
}
.btn-special {
  cursor: pointer;
  height: 45px;
  padding: 0px 20px;
  border-radius: 15px;
  border: 2px solid;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.filter {
  display: flex;
  gap: 10px;
  color: #fff;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.active {
  background-color: #40bc5a;
  width: 15px;
  height: 15px;
  border-color: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.archived {
  background-color: #fbc011;
  width: 15px;
  height: 15px;
  border-color: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.inactive {
  background-color: #ef2a2e;
  width: 15px;
  height: 15px;
  border-color: transparent;
  border-radius: 2px;
  cursor: pointer;
}
