<div class="container">
  <form [formGroup]="formDate">
    <div nz-row nzAlign="middle" nzGutter="23">
      <div class="gutter-row" nz-col nzSpan="8">
        <p class="text-bold text-primary">Fecha</p>
        <nz-date-picker
          formControlName="date"
          [nzDisabledDate]="disabledDate"
          [nzInputReadOnly]="true"
          class="w-100"
          nzSize="large"
          [nzFormat]="'dd-MM-yyyy'"
          (ngModelChange)="getDate($event)"
        ></nz-date-picker>
      </div>
      <div class="gutter-row mt-3" nz-col>
        <button (click)="searchDate()" class="btn btn-primary">buscar</button>
      </div>
    </div>
  </form>

  <div class="content mt-4">
    <pre *ngIf="listDate">{{ listDate | json }}</pre>
    <p *ngIf="!listDate && touched">
      No hay registro disponibles para esta fecha
    </p>
    <div *ngIf="!touched" class="text-center">
      <nz-spin nzSize="large" nzSimple></nz-spin>
    </div>
  </div>
</div>
