<div class="container">
  <div>
    <div *ngIf="listRules" class="filter">
      <p class="text-bold">Filtrar por:</p>
      <div class="filter-buttons">
        <button class="active" (click)="filterButton('ACTIVE')"></button>
        <button class="archived" (click)="filterButton('ARCHIVED')"></button>
        <button class="inactive" (click)="filterButton('INACTIVE')"></button>
      </div>
    </div>
    <list-option
      *ngIf="listRules"
      (adUnitSelect)="recivedAdUnit($event)"
      [listAd]="listRules"
      [height_calculate]="height_calculate"
    ></list-option>
  </div>
  <div class="main">
    <div *ngIf="!listRules" class="text-center">
      <nz-spin nzSize="large" nzSimple></nz-spin>
    </div>
    <div id="heigth" *ngIf="!isAddPlacements && listRules">
      <form [formGroup]="formPlacement">
        <div
          nz-row
          nzAlign="middle"
          nzGutter="23"
          nzJustify="space-between"
          style="width: 100%"
        >
          <div nz-col nzSpan="15" class="gutter-row">
            <div nz-row nzAlign="middle" class="container-section">
              <div
                *ngIf="
                  detailsPlacements?.id && detailsPlacements?.placementCode
                "
                nz-col
                nzSpan="12"
                class="gutter-row"
              >
                <p class="text-primary">
                  <span class="text-bold">id</span>:{{ detailsPlacements?.id }}
                </p>
                <p class="text-primary">
                  <span class="text-bold">placementCode</span>:
                  {{ detailsPlacements?.placementCode }}
                </p>
              </div>

              <div nz-col nzSpan="12" class="gutter-row">
                <p class="text-primary">
                  <span class="text-bold">status</span>:
                  {{ detailsPlacements?.status }}
                </p>
                <p class="text-primary">
                  <span class="text-bold">última modificación</span>:
                  {{ detailsPlacements?.lastModifiedDateTime.date.day }}/{{
                    detailsPlacements?.lastModifiedDateTime.date.month
                  }}/{{ detailsPlacements?.lastModifiedDateTime.date.year }}
                </p>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="9" class="gutter-row text-center">
            <button (click)="createPlacements()" class="btn btn-primary">
              AGREGAR PLACEMENTS
            </button>
          </div>
        </div>

        <div nz-row nzAlign="middle" nzGutter="23" class="mt-4">
          <div nz-col class="gutter-row" nzSpan="8">
            <label class="text-bold text-primary">Name</label>
            <input
              nz-input
              formControlName="name"
              nzSize="large"
              placeholder=""
            />
          </div>
          <div nz-col class="gutter-row" nzSpan="8">
            <label class="text-bold text-primary">Status</label>
            <nz-select nzSize="large" formControlName="status" nzPlaceHolder="">
              <nz-option
                *ngFor="let item of listStatus"
                [nzLabel]="item"
                [nzValue]="item"
              >
              </nz-option>
            </nz-select>
          </div>
          <div nz-col class="gutter-row" nzSpan="8"></div>
        </div>

        <div nz-row nzAlign="middle" class="mt-4">
          <div nz-col nzSpan="24">
            <label class="text-primary"
              ><span class="text-bold">Descripción</span> (opcional)</label
            >
            <input
              nz-input
              formControlName="description"
              nzSize="large"
              placeholder=""
            />
          </div>
        </div>
      </form>

      <div
        nz-row
        nzAlign="middle"
        nzJustify="space-between"
        class="mt-4 text-primary text-bold"
      >
        <div class="section-regla">
          <p class="mr-2">Reglas viewability</p>
          <!-- <img (click)="editReglas()" src="./assets/img/pencil.svg" alt="" /> -->
          <button class="btn-special btn-primary" (click)="editReglas()">
            Editar
          </button>
        </div>
        <div class="text-primary">
          <p>
            Cantidad de reglas asignadas
            <span class="text-bold text-medium">{{ listReglas?.length }}</span>
          </p>
        </div>
      </div>

      <div class="mt-3">
        <list-reglas
          [listReglas]="listReglas"
          [listaCompleta]="listReglasCompletas"
          [isModal]="false"
        ></list-reglas>
      </div>

      <div
        class="mt-3"
        nz-row
        nzAlign="middle"
        nzGutter="28"
        nzJustify="center"
      >
        <div nz-col class="gutter-row">
          <button (click)="done()" class="btn btn-primary">guardar</button>
        </div>
      </div>
    </div>
    <div *ngIf="isAddPlacements">
      <form [formGroup]="formAddPlacements">
        <div nz-row nzAlign="middle" nzGutter="23" class="mt-4">
          <div nz-col class="gutter-row" nzSpan="8">
            <label class="text-bold text-primary">Name</label>
            <input
              nz-input
              nzSize="large"
              formControlName="name"
              placeholder=""
            />
          </div>
          <div nz-col class="gutter-row" nzSpan="8">
            <label class="text-bold text-primary">Status</label>
            <nz-select nzSize="large" formControlName="status" nzPlaceHolder="">
              <nz-option
                *ngFor="let item of listStatus"
                [nzLabel]="item"
                [nzValue]="item"
              >
              </nz-option>
            </nz-select>
          </div>
          <div nz-col class="gutter-row" nzSpan="8"></div>
        </div>

        <div nz-row nzAlign="middle" class="mt-4">
          <div nz-col nzSpan="24">
            <label class="text-primary"
              ><span class="text-bold">Descripción</span> (opcional)</label
            >
            <input
              nz-input
              nzSize="large"
              formControlName="description"
              placeholder=""
            />
          </div>
        </div>

        <div></div>

        <div nz-row nzAlign="middle" class="mt-4 text-primary text-bold">
          <p class="mr-2">Reglas viewability</p>
          <!-- <img
            class="img-placements"
            style="cursor: pointer"
            (click)="addPlacements()"
            src="./assets/img/plus.svg"
            alt=""
          /> -->
          <button class="btn-special btn-primary" (click)="addPlacements()">
            Agregar
          </button>
        </div>

        <div class="mt-3">
          <list-reglas
            [listReglas]="listReglas"
            [isModal]="false"
          ></list-reglas>
        </div>

        <div
          class="mt-3"
          nz-row
          nzAlign="middle"
          nzJustify="center"
          nzGutter="28"
        >
          <div nz-col class="gutter-row">
            <p (click)="cancelePlacements()" class="link">Cancelar</p>
          </div>
          <div nz-col class="gutter-row">
            <button (click)="doneCreate()" class="btn btn-primary">
              guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- MODALES -->

<nz-modal
  [(nzVisible)]="isVisible"
  [nzCloseIcon]="closeIcon"
  [nzCancelText]="null"
  [nzOkText]="null"
  [nzWidth]="1000"
  (nzOnCancel)="closeModal2()"
>
  <ng-container *nzModalContent>
    <div class="container-modal">
      <div nz-row nzAlign="middle" nzJustify="center">
        <div nz-col nzSpan="14">
          <p class="text-bold text-medium text-primary text-center">
            Reglas viewability
          </p>
        </div>
      </div>

      <div class="mt-3">
        <!-- <list-ad-unit-sizes [isModal]="true"></list-ad-unit-sizes> -->
        <list-reglas
          [listReglas]="listReglas"
          [listaCompleta]="listReglasCompletas"
          (closeModal)="closeModal($event)"
          (changeData)="changeData($event)"
          [isModal]="true"
        ></list-reglas>
      </div>
    </div>
  </ng-container>
  <ng-template #closeIcon>
    <div class="close-modal">
      <i class="fas fa-times"></i>
    </div>
  </ng-template>
</nz-modal>
