<div class="container">
  <div class="container-login">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="" />
    </div>

    <div nz-row nzAlign="middle" nzJustify="center">
      <div nz-col>
        <p class="text-bold text-medium text-fade">Gestor de Ad Manager</p>
      </div>
    </div>

    <div class="mt-3 text-center" nz-row nzAlign="middle" nzJustify="center">
      <div nz-col nzSpan="24">
        <p class="text-bold text-medium text-primary">Recuperar contraseña</p>
        <!-- <div class="absolute-msj-error" *ngIf="msjError">
            <small class="text-danger">{{ msjError }}</small>
          </div> -->
      </div>
    </div>

    <div class="mt-4">
      <div nz-row nzAlign="middle">
        <div nz-col>
          <p class="text-primary">
            Ingresar correo para gestionar recuperación de la contraseña
          </p>
        </div>
      </div>
      <form [formGroup]="formRecovery" autocomplete="off">
        <div nz-row nzAlign="middle">
          <div nz-col nzSpan="24">
            <label class="text-bold text-primary">Correo electrónico *</label>
            <input
              nz-input
              formControlName="email"
              nzSize="large"
              placeholder="Ingresar correo electrónico"
            />
            <div class="absolute" *ngIf="f.email.invalid && f.email.touched">
              <small *ngIf="f.email.errors?.required" class="text-danger"
                >Campo requerido</small
              >
              <small *ngIf="f.email.errors?.pattern" class="text-danger"
                >Formato de correo inválido (ejemplo@mail.com)</small
              >
            </div>
          </div>
        </div>
      </form>

      <div
        nz-row
        class="mt-5"
        nzAlign="middle"
        nzJustify="center"
        nzGutter="23"
      >
        <div nz-col class="gutter-row">
          <p (click)="toLogin()" class="text-link">Cancelar</p>
        </div>

        <div nz-col class="gutter-row">
          <div *ngIf="apiBusy" class="text-center">
            <nz-spin nzSize="large" nzSimple></nz-spin>
          </div>
          <button
            *ngIf="!apiBusy"
            [disabled]="!formRecovery.valid"
            class="btn btn-primary"
            (click)="sendEmail(sendEmailSuccess, sendEmailReject)"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODALES -->

<ng-template #sendEmailSuccess let-ref="modalRef">
  <div class="modal-icon">
    <i class="far fa-check-circle success"></i>
  </div>

  <div class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12">
      <p class="text-primary text-center text-bold">
        ¡Correo enviado con Éxito!
      </p>

      <p class="text-primary text-center">
        Se ha enviado un código para recuperar contraseña
      </p>
    </div>
  </div>

  <div nz-row class="mt-2" nzAlign="middle" nzJustify="center">
    <div nz-col>
      <div>
        <button (click)="toRecoveryPassword(ref)" class="btn btn-primary">
          Ok
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sendEmailReject let-ref="modalRef">
  <div class="modal-icon">
    <i class="far fa-times-circle reject"></i>
  </div>

  <div class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12">
      <p class="text-primary text-center text-bold">¡Error al enviar correo!</p>
    </div>
  </div>

  <div nz-row class="mt-2" nzAlign="middle" nzJustify="center">
    <div nz-col>
      <div>
        <button (click)="closeRefModal(ref)" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</ng-template>
