@import "/src/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  height: 92px;
  margin: 0px 65px;
  padding: 0 60px;
  border-radius: 20px;
  .logo {
    color: #707070;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 20%;
    }
    p {
      width: 35%;
      line-height: 25px;
    }
  }

  .nav-list {
    display: flex;
    gap: 55px;

    .item {
      cursor: pointer;
      font-size: 20px;
      &.selected {
        color: #1465b7;
      }
      a {
        color: #707070;
        text-decoration: none;
      }
    }
  }
}
