@import "/src/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
}

.section {
  color: #fff;
  border-bottom: 3px solid #fff;
  font-weight: bold;
}

.container-report {
  background: #fff;
  border-radius: 12px;
  padding: 20px 80px;
  background: #fff;
  border-radius: 12px;
  overflow-y: scroll;
  height: 450px;
  scroll-behavior: smooth;
  padding: 20px 80px;
}

.container-report::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #d4d4d4;
  border-radius: 10px;
}

.container-report::-webkit-scrollbar {
  width: 19px;
}

.container-report::-webkit-scrollbar-thumb {
  border-radius: 12px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #afafaf;
  border: 3px solid #d4d4d4;
}

.apiButton {
  display: flex;
  justify-content: center;
  max-width: 315px;
  height: 84px;
}

.button-option {
  display: flex;
  gap: 15px;
  align-items: center;
  max-width: 315px;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #fff;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  i {
    background: #fff;
    border-radius: 40px;
    color: #281545;
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-option:hover {
  color: #281545;
  border-color: #fff;
  background: #fff;
  i {
    background: #281545;
    color: #fff;
  }
}

.button-option-disable {
  display: flex;
  gap: 15px;
  align-items: center;
  max-width: 315px;
  background: #ecf0f1;
  border-radius: 30px;
  border: 2px solid #ecf0f1;
  padding: 20px;
  cursor: not-allowed;
  font-weight: bold;
  i {
    background: #ecf0f1;
    border-radius: 40px;
    color: #281545;
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-status {
  display: flex;
  gap: 5px;

  .item {
    background: #ebe9ef;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 60px;
    font-weight: bold;

    .count1 {
      border: 2px solid $secondary;
      border-radius: 20px;
      color: $secondary;
      padding: 5px;
      width: 40px;
      text-align: center;
    }

    .count2 {
      border: 2px solid $danger;
      border-radius: 20px;
      color: $danger;
      padding: 5px;
      width: 40px;
      text-align: center;
    }

    .count3 {
      border: 2px solid $success;
      border-radius: 20px;
      color: $success;
      padding: 5px;
      width: 40px;
      text-align: center;
    }

    .count4 {
      border: 2px solid $warning;
      border-radius: 20px;
      color: $warning;
      padding: 5px;
      width: 40px;
      text-align: center;
    }

    .count5 {
      border: 2px solid $primary;
      border-radius: 20px;
      color: $primary;
      padding: 5px;
      width: 40px;
      text-align: center;
    }
  }
}

.container-modal {
  .close-modal {
    i {
      font-size: 20px;
      color: #999999;
    }
  }
}
