<div *ngIf="!isConfigReport">
  <div class="container">
    <div>
      <div class="section mb-1">
        <p>AdUnits</p>
      </div>
      <div class="section-status">
        <div class="item">
          <p>ACTIVE</p>
          <nz-spin *ngIf="apiBusy" nzSize="large" nzSimple></nz-spin>
          <div *ngIf="!apiBusy" class="count1">
            <p>{{ adUnits?.active }}</p>
          </div>
        </div>
        <div class="item">
          <p>INACTIVE</p>
          <nz-spin *ngIf="apiBusy" nzSize="large" nzSimple></nz-spin>
          <div *ngIf="!apiBusy" class="count2">
            <p>{{ adUnits?.inactive }}</p>
          </div>
        </div>
        <div class="item">
          <p>ARCHIVED</p>
          <nz-spin *ngIf="apiBusy" nzSize="large" nzSimple></nz-spin>
          <div *ngIf="!apiBusy" class="count3">
            <p>{{ adUnits?.archvied }}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="section mb-1">
        <p>Placements</p>
      </div>
      <div class="section-status">
        <div class="item">
          <p>ACTIVE</p>
          <nz-spin *ngIf="apiBusy" nzSize="large" nzSimple></nz-spin>
          <div *ngIf="!apiBusy" class="count4">
            <p>{{ placements?.active }}</p>
          </div>
        </div>
        <div class="item">
          <p>INACTIVE</p>
          <nz-spin *ngIf="apiBusy" nzSize="large" nzSimple></nz-spin>
          <div *ngIf="!apiBusy" class="count5">
            <p>{{ placements?.inactive }}</p>
          </div>
        </div>
        <div class="item">
          <p>ARCHIVED</p>
          <nz-spin *ngIf="apiBusy" nzSize="large" nzSimple></nz-spin>
          <div *ngIf="!apiBusy" class="count3">
            <p>{{ placements?.archvied }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <p class="text-xlarge text-white">Resumen del Network de Ad Manager</p>
  </div>

  <div class="button-option" (click)="sincronizar()">
    <i class="fas fa-sync-alt"></i>
    <p>Sincronizar</p>
  </div>

  <div
    (click)="subirCambios()"
    *ngIf="cambios_no_guardados > 0"
    class="button-option mt-3"
  >
    <i class="fas fa-arrow-alt-up"></i>
    <p>Subir Cambios a Ad Manager</p>
  </div>

  <div (click)="configReport()" class="button-option mt-3">
    <i class="fas fa-cog"></i>
    <p>Configuración de reportes</p>
  </div>

  <div (click)="downLoadReport()" class="button-option mt-3">
    <i class="fas fa-arrow-alt-to-bottom"></i>
    <p>Generar reporte</p>
  </div>
</div>

<div *ngIf="isConfigReport">
  <div class="container-report">
    <div nz-row nzAlign="middle" nzJustify="center">
      <div nz-col>
        <p class="text-bold text-medium text-primary">
          Configuración de reportes
        </p>
      </div>
    </div>

    <div class="mt-4">
      <list-config-report
        [listConfig]="listTemp"
        (openModal)="openModalReport($event)"
        (cancelConfigReport)="cancelConfigReport($event)"
        (saveConfigReport)="saveConfigReport($event)"
      ></list-config-report>
    </div>
  </div>

  <!-- MODALES -->

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzCloseIcon]="closeIcon"
    [nzCancelText]="null"
    [nzOkText]="null"
    (nzOnCancel)="closeModal()"
  >
    <ng-container *nzModalContent>
      <div class="container-modal">
        <div nz-row nzAlign="middle" nzJustify="center">
          <div nz-col nzSpan="14">
            <p class="text-bold text-medium text-primary text-center">
              Agregar nuevo
            </p>
          </div>
        </div>

        <form [formGroup]="formModal">
          <div class="mt-5" nz-row nzAlign="middle" nzJustify="center">
            <div nz-col>
              <label class="text-bold text-primary">Nombre</label>
              <input
                nz-input
                nzSize="large"
                placeholder="Ingresar nombre"
                formControlName="nombre"
              />
            </div>
          </div>
        </form>

        <div class="mt-5" nz-row nzAlign="middle" nzJustify="center">
          <div nz-col>
            <button
              [disabled]="!formModal.valid"
              class="btn btn-primary"
              (click)="closeModal()"
            >
              guardar
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #closeIcon>
      <div class="close-modal">
        <i class="fas fa-times"></i>
      </div>
    </ng-template>
  </nz-modal>
</div>
