<div class="container-modal">
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="18">
      <p class="text-bold text-medium text-primary text-center">
        Subiendo cambios a Admanager
      </p>
    </div>
  </div>

  <div *ngIf="apiBusy" class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col>
      <nz-spin nzSize="large" nzSimple></nz-spin>
    </div>
  </div>

  <div *ngIf="!apiBusy" class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col class="text-center">
      <p *ngIf="!msjError">Se ha cargado los datos exitosamente</p>
      <p *ngIf="msjError">{{ msjError }}</p>
      <button (click)="closeModal()" class="btn btn-primary mt-4">
        aceptar
      </button>
    </div>
  </div>
</div>
