<div class="container">
  <div class="container-login">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="" />
    </div>

    <div nz-row nzAlign="middle" nzJustify="center">
      <div nz-col>
        <p class="text-bold text-medium text-fade">Gestor de Ad Manager</p>
      </div>
    </div>

    <div class="mt-3 text-center" nz-row nzAlign="middle" nzJustify="center">
      <div nz-col nzSpan="24">
        <p class="text-bold text-medium text-primary">Recuperar contraseña</p>
        <!-- <div class="absolute-msj-error" *ngIf="msjError">
            <small class="text-danger">{{ msjError }}</small>
          </div> -->
      </div>
    </div>

    <div class="mt-2">
      <form [formGroup]="formRecoveryPassword" autocomplete="off">
        <div nz-row nzAlign="middle">
          <div nz-col>
            <label class="text-fade"
              >Ingresar código enviado al correo electrónico</label
            >
          </div>
        </div>
        <div nz-row nzAlign="middle">
          <div nz-col>
            <label class="text-bold text-primary"
              >Código de verificación *</label
            >
            <input
              nz-input
              formControlName="code"
              nzSize="large"
              placeholder="1234"
              onkeypress="return (event.keyCode != 32 && ( (event.keyCode >= 48) && (event.keyCode <=57) ))"
            />
          </div>
        </div>

        <div class="mt-3" nz-row nzAlign="middle">
          <div nz-col>
            <label class="text-fade">Ingresar mínimo 8 caracteres </label>
          </div>
        </div>

        <div nz-row nzAlign="middle">
          <div nz-col class="form-password" nzSpan="24">
            <label class="text-bold text-primary">Nueva Contraseña</label>
            <input
              nz-input
              [type]="type1 ? 'text' : 'password'"
              formControlName="newPassword"
              nzSize="large"
              placeholder="Ingresar contraseña"
              maxlength="8"
              (ngModelChange)="confirmPassword($event)"
            />
            <div (click)="changeType1()" class="hidden-password">
              <i *ngIf="!type1" class="fas fa-eye"></i>
              <i *ngIf="type1" class="fas fa-eye-slash"></i>
            </div>
            <div
              class="absolute"
              *ngIf="f.newPassword.invalid && f.newPassword.touched"
            >
              <small *ngIf="f.newPassword.errors?.required" class="text-danger"
                >Campo requerido</small
              >
              <small *ngIf="f.newPassword.errors?.minlength" class="text-danger"
                >La contraseña debe tener mínimo 8 caracteres</small
              >
            </div>
          </div>
        </div>

        <div nz-row class="mt-3" nzAlign="middle">
          <div nz-col class="form-password" nzSpan="24">
            <label class="text-bold text-primary"
              >Confirmar nueva contraseña</label
            >
            <input
              nz-input
              [type]="type2 ? 'text' : 'password'"
              formControlName="confirPassword"
              nzSize="large"
              placeholder="Ingresar confirmación de contraseña"
              maxlength="8"
              (ngModelChange)="confirmPassword($event)"
            />
            <div (click)="changeType2()" class="hidden-password">
              <i *ngIf="!type2" class="fas fa-eye"></i>
              <i *ngIf="type2" class="fas fa-eye-slash"></i>
            </div>
            <div
              class="absolute"
              *ngIf="
                (f.confirPassword.invalid || !equalsPassword) &&
                f.confirPassword.touched
              "
            >
              <small *ngIf="!equalsPassword" class="text-danger">
                Las contraseñas deben coincidir
              </small>
            </div>
          </div>
        </div>
      </form>

      <div nz-row class="mt-5" nzAlign="middle" nzJustify="center">
        <div nz-col>
          <button
            class="btn btn-primary"
            [disabled]="!formRecoveryPassword.valid || !equalsPassword"
            (click)="changePass(approve, reject)"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODALES -->

<ng-template #approve let-ref="modalRef">
  <div class="modal-icon">
    <i class="far fa-check-circle success"></i>
  </div>

  <div class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="12">
      <p class="text-primary text-center">
        Su contraseña se recupero correctamente
      </p>
    </div>
  </div>

  <div nz-row class="mt-2" nzAlign="middle" nzJustify="center">
    <div nz-col>
      <div>
        <button (click)="closeRefModal(ref)" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #reject let-ref="modalRef">
  <div class="modal-icon">
    <i class="far fa-times-circle reject"></i>
  </div>

  <div class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="16">
      <p class="text-primary text-center">
        ¡Error al recuperar contraseña! Intenta nuevamente
      </p>
    </div>
  </div>

  <div nz-row class="mt-2" nzAlign="middle" nzJustify="center">
    <div nz-col>
      <div>
        <button (click)="closeRefModal(ref)" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #closeIcon>
  <div class="close-modal">
    <i class="fas fa-times-circle"></i>
  </div>
</ng-template>
