<div class="container-modal">
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="18">
      <p class="text-bold text-medium text-primary text-center">
        ¡Sincronizando!
      </p>
    </div>
  </div>

  <div class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col class="text-center">
      <p>Ya se esta ejecutando la sincronización espere un momento...</p>
      <button class="btn btn-primary mt-4" (click)="closeModal()">Ok</button>
    </div>
  </div>
</div>
