<div class="container-modal">
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="18">
      <p class="text-bold text-medium text-primary text-center">
        Sincronizando datos
      </p>
    </div>
  </div>

  <div *ngIf="apiBusy" class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col>
      <nz-spin nzSize="large" nzSimple></nz-spin>
    </div>
  </div>

  <div *ngIf="!apiBusy" class="mt-4" nz-row nzAlign="middle" nzJustify="center">
    <div nz-col class="text-center">
      <p>Se ha cargado los datos exitosamente</p>
      <button class="btn btn-primary mt-4" (click)="closeModal()">
        aceptar
      </button>
    </div>
  </div>
</div>
