@import "/src/variables.scss";

.container-normal {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 338px;
  scroll-behavior: smooth;
}

.container-modal {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 250px;
  scroll-behavior: smooth;
}

.option {
  width: 245px;
  padding: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  box-shadow: 0px 3px 6px #00000029;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-icon {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
